
{{#if (isEqual _schema '/FeatureWrapper')}}
  <div class="feature-wrapper {{join classes}}" data-id="{{id}}" data-index="{{index}}">
    <div class="children">
      {{#each children}}
        {{> gurps/feature_wrapper this}}
      {{/each}}
    </div>
  </div>
{{else}}
  {{> gurps/feature this}}
{{/if}}