<span class="display">
  {{#if (or (not (isNilOrEmpty this.secondary_label)))}}
    <div class="label">
      <i>{{{this.secondary_label}}}</i>
    </div>
  {{/if}}
  <div class="value">{{this.value}}</div>
  {{#if (or (not (isNilOrEmpty this.label)))}}
    <div class="label">
      <b>{{{this.label}}}</b>
    </div>
  {{/if}}
</span>
{{#if this.asterisk}}<span class="asterisk">*</span>{{/if}}